<mat-dialog-content>
  <h1 mat-dialog-title>Update Hospital</h1>

  <form [formGroup]="hospitalUpdateForm" #formDir="ngForm" novalidate>

    <div class="row">
      <div class="col-xl-12">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" autocomplete="off" value="{{data.name}}">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <mat-error *ngIf="hospitalUpdateForm.controls['name'].hasError('required')">
            Full name is required
          </mat-error>
          <mat-error *ngIf="hospitalUpdateForm.controls['name'].hasError('minlength')">
            Full name must be greater then 3 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" placeholder="pabcd@mail.com" autocomplete="off"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{data.email}}">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="hospitalUpdateForm.controls['email'].hasError('required')">
            Email Address is required
          </mat-error>
          <mat-error *ngIf="hospitalUpdateForm.controls['email'].hasError('pattern')">
            Email Address should be valid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput formControlName="username" autocomplete="off" value="{{data.username}}">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="hospitalUpdateForm.controls['username'].hasError('required')">
            User Name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" autocomplete="off" value="{{data.password}}"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="hospitalUpdateForm.controls['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="hospitalUpdateForm.controls['password'].hasError('pattern')">
        Must contain at least one number and one uppercase and lowercase letter
      </mat-error>
      <mat-error *ngIf="hospitalUpdateForm.controls['password'].hasError('minlength')">
        At least 8 or more characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone" placeholder="+123456789" autocomplete="off" value="{{data.phone}}">
      <mat-icon matSuffix>phone</mat-icon>
      <mat-error *ngIf="hospitalUpdateForm.controls['phone'].hasError('required')">
        Phone number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries"
          [value]="country.name">
          {{country.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hospitalUpdateForm.controls['country'].hasError('required')">
        Country is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" autocomplete="off" value="{{data.address}}">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="hospitalUpdateForm.controls['address'].hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <div class="actions justify-content-between">
        <button tc-button [type]="'button'" [view]="'error'" matDialogClose>Cancel</button>
        <button tc-button [view]="'info'" (click)="update()" style="float: right;">
          Update Hospital
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>