<!-- ======================================= Admin User ================================================== -->

<div class="row justify-content-center" *ngIf="role == 1">
  <div class="col col-12 col-xl-8">
    <h3>Account Details</h3>
    <form [formGroup]="adminUpdateForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" autocomplete="off">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="adminUpdateForm.controls['firstName'].hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" autocomplete="off">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="adminUpdateForm.controls['lastName'].hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" placeholder="+123456789" autocomplete="off">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="adminUpdateForm.controls['phone'].hasError('required')">
          Phone number is required
        </mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="pabcd@mail.com" autocomplete="off"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="adminUpdateForm.controls['email'].hasError('required')">
              Email Address is required
            </mat-error>
            <mat-error *ngIf="adminUpdateForm.controls['email'].hasError('pattern')">
              Email Address should be valid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" autocomplete="off">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="adminUpdateForm.controls['username'].hasError('required')">
              User Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field [hidden]="true">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" autocomplete="off">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="adminUpdateForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" autocomplete="off">
        <mat-icon matSuffix>flag</mat-icon>
        <mat-error *ngIf="adminUpdateForm.controls['country'].hasError('required')">
          Country is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" autocomplete="off">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="adminUpdateForm.controls['address'].hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <div class="row">
          <div class="col">
            <button tc-button [view]="'success'" (click)="updateAdminDetail()">
              Save Changes
            </button>
          </div>
          <div class="col text-right">
            <button tc-button [type]="'button'" [view]="'error'" [outline]="true" (click)="reset()">
              Cancel
            </button>
          </div>
        </div>
      </mat-dialog-actions>
    </form>

    <hr>
    <h3>Change password</h3>

    <form [formGroup]="passwordResetForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" autocomplete="off">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['currentPassword'].hasError('required')">
              Current Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" autocomplete="off"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('pattern')">
              Must contain at least one number and one uppercase and lowercase letter
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('minlength')">
              At least 8 or more characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" autocomplete="off" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('mustMatch')">
              Passwords must match
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <button tc-button [view]="'default'" [outline]="true" [type]="'button'" (click)="updatePasswordAdmin()">
        Change password
      </button>

    </form>
  </div>
</div>

<!-- ======================================= Hospital User ================================================== -->

<div class="row justify-content-center" *ngIf="role == 2">
  <div class="col col-12 col-xl-8">
    <h4>Account Details</h4>
    <form [formGroup]="hospitalUpdateForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-xl-12">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name" autocomplete="off">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="hospitalUpdateForm.controls['name'].hasError('required')">
              Full name is required
            </mat-error>
            <mat-error *ngIf="hospitalUpdateForm.controls['name'].hasError('minlength')">
              Full name must be greater then 3 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="pabcd@mail.com" autocomplete="off"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="hospitalUpdateForm.controls['email'].hasError('required')">
              Email Address is required
            </mat-error>
            <mat-error *ngIf="hospitalUpdateForm.controls['email'].hasError('pattern')">
              Email Address should be valid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" autocomplete="off">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="hospitalUpdateForm.controls['username'].hasError('required')">
              User Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field [hidden]="true">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" autocomplete="off">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="hospitalUpdateForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" placeholder="+123456789" autocomplete="off">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="hospitalUpdateForm.controls['phone'].hasError('required')">
          Phone number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" autocomplete="off">
        <mat-icon matSuffix>flag</mat-icon>
        <mat-error *ngIf="hospitalUpdateForm.controls['country'].hasError('required')">
          Country is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" autocomplete="off">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="hospitalUpdateForm.controls['address'].hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <div class="row">
          <div class="col">
            <button tc-button [view]="'success'" (click)="updateHospitalDetail()">
              Save Changes
            </button>
          </div>
          <div class="col text-right">
            <button tc-button [type]="'button'" [view]="'error'" [outline]="true" (click)="reset()">
              Cancel
            </button>
          </div>
        </div>
      </mat-dialog-actions>
    </form>

    <hr>
    <h4>Change password</h4>

    <form [formGroup]="passwordResetForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" autocomplete="off">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['currentPassword'].hasError('required')">
              Current Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" autocomplete="off"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('pattern')">
              Must contain at least one number and one uppercase and lowercase letter
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('minlength')">
              At least 8 or more characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" autocomplete="off" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('mustMatch')">
              Passwords must match
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <button tc-button [view]="'default'" [outline]="true" [type]="'button'" (click)="updatePasswordHospital()">
        Change password
      </button>

    </form>
  </div>
</div>

<!-- ======================================= Hospital User ================================================== -->

<div class="row justify-content-center" *ngIf="role == 3">
  <div class="col col-12 col-xl-8">
    <h4>Account Details</h4>
    <form [formGroup]="employeeUpdateForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="Name" autocomplete="off">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="employeeUpdateForm.controls['firstName'].hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" autocomplete="off">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="employeeUpdateForm.controls['lastName'].hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" placeholder="+123456789" autocomplete="off">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="employeeUpdateForm.controls['phone'].hasError('required')">
          Phone number is required
        </mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="pabcd@mail.com" autocomplete="off"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="employeeUpdateForm.controls['email'].hasError('required')">
              Email Address is required
            </mat-error>
            <mat-error *ngIf="employeeUpdateForm.controls['email'].hasError('pattern')">
              Email Address should be valid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" autocomplete="off">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="employeeUpdateForm.controls['username'].hasError('required')">
              User Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field [hidden]="true">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" autocomplete="off">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="employeeUpdateForm.controls['password'].hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput formControlName="country" autocomplete="off">
        <mat-icon matSuffix>flag</mat-icon>
        <mat-error *ngIf="employeeUpdateForm.controls['country'].hasError('required')">
          Country is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" autocomplete="off">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="employeeUpdateForm.controls['address'].hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hospital</mat-label>
        <input matInput formControlName="hospital" autocomplete="off">
        <mat-icon matSuffix>medical_services</mat-icon>
        <mat-error *ngIf="employeeUpdateForm.controls['hospital'].hasError('required')">
          Hospital is required
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions>
        <div class="row">
          <div class="col">
            <button tc-button [view]="'success'" (click)="updateEmployeeDetail()">
              Save Changes
            </button>
          </div>
          <div class="col text-right">
            <button tc-button [type]="'button'" [view]="'error'" [outline]="true" (click)="reset()">
              Cancel
            </button>
          </div>
        </div>
      </mat-dialog-actions>
    </form>

    <hr>
    <h4>Change password</h4>

    <form [formGroup]="passwordResetForm" #formDir="ngForm" novalidate>

      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" autocomplete="off">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['currentPassword'].hasError('required')">
              Current Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" autocomplete="off"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('pattern')">
              Must contain at least one number and one uppercase and lowercase letter
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['password'].hasError('minlength')">
              At least 8 or more characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" autocomplete="off" />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('mustMatch')">
              Passwords must match
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <button tc-button [view]="'default'" [outline]="true" [type]="'button'" (click)="updatePasswordEmployee()">
        Change password
      </button>

    </form>
  </div>
</div>